
*{
  margin-left: 0px;

}
.appointments{
  margin-top: 0px;

  // display: flex;
  // flex-direction: column;
  // flex-wrap: nowrap;
   h2{
     display: flex;
     justify-content: center;

   }
  }
  .appointment{

    display: flex;
    justify-content: center;
    margin-left: 2px;

    align-items: flex-start;
    span{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 10px;

    }
  }
