<div class="greedd">
  <div class="btn-group-vertical">
    <button mat-flat-button color="primary">Main Navigation</button>

    <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
      <mat-icon>home</mat-icon> Home
    </button>
    <button mat-icon-button color="primary" routerLink="/physicians" aria-label="Example icon-button with a heart icon">
      <mat-icon>perm_identity</mat-icon> Physicians
    </button>
    <button mat-icon-button color="primary" routerLink="/appointments" aria-label="Example icon-button with a heart icon">
      <mat-icon>library_add_check</mat-icon> Appointments
    </button>
    <button mat-icon-button color="primary" routerLink="/patients" aria-label="Example icon-button with a heart icon">
      <mat-icon>supervisor_account</mat-icon> Patients
    </button>


    <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
      <mat-icon>favorite</mat-icon> we work for your health
    </button>

  </div>
  <app-showappointments></app-showappointments>

  </div>
